{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>QUIZ_GAME</title>
</head>
<body>
     <header>
    <h1>🎯 Django Quiz Application</h1>
    <nav>
      <a href="/">Home</a> |
    </nav>
  </header>
  <main>
    {% block content %}
    <!-- each app page will insert its content here -->
    {% endblock %}
  </main>

  <footer>
    <hr>
    <p>&copy; 2025 Richie Quiz App</p>
  </footer>

</body>
</html>
</body>
</html>